<div class="container education-container">
  <h3>Achievements and Seminars</h3>
  {% for seminar in site.data.seminar %}
    <div class="row clearfix education">
      <div class="col-xs-12 col-sm-12 col-md-12 col-print-12 left-column">
      	<center>
	        <h4>{{ seminar.name }}</h4>
          {%- if seminar.description -%}
            <p><b>{{ seminar.description }}</b></p>
          {%- endif -%}
	        <p><i>{{ seminar.venue }}</i></p>
        <p>{{ seminar.dates }}</p>
        </center>
      </div>
    </div>
  {% endfor %}
</div>
